</section>
<section class="section">
    <div class="container">
        <div class="columns is-desktop is-justify-content-center">
            <div class="column is-8-desktop">
                <div class="p-6 shadow rounded content">
                    <h2 class="section-title">Search BBC News</h2>
                    <form method="POST" action="/bbc">
                        <div class="columns is-multiline">
                            <div class="form-group column is-12">
                                <label for="category">Author</label>
                                <select id="category" class="input custom-select" name="category" placeholder="BBC News"
                                    required>
                                    placeholder="BBC News" required>
                                    <option selected disabled>Choose Your Category</option>
                                    <option value="bbcNews">BBC News</option>
                                    <option value="bbcSports">BBC Sports</option>
                                </select>
                            </div>
                            <div class="form-group column is-12">
                                <label for="title">Title</label>
                                <input type="text" class="input" id="title" name="title"
                                    placeholder="Multi-cancer blood test shows real promise in NHS study" required>
                            </div>
                            <div class="form-group column is-12">
                                <label for="publishedAt">Published At</label>
                                <input type="text" class="input" id="publishedAt" name="publishedAt"
                                    placeholder="2023-06-02" required>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>