</section>
<div class="intro column is-8 is-offset-2">
    <h2 class="title lower-text">California News Times</h2><br>
</div>
<div class="sandbox">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
                <div class="card-image has-text-centered">
                    <i class="fa fa-apple"></i>
                </div>
                <p class="title">All articles mentioning Apple</p>
                <p class="subtitle">35 Best Memorial Day Sales and Deals: Pizza Ovens, Recycled Bags, and More</p>
                <a href="/apple" class="stretched-link"></a>
            </article>
        </div>
        <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
                <div class="card-image has-text-centered">
                    <i class="fa fa-briefcase"></i>
                </div>
                <p class="title">Top business headlines in the US right now</p>
                <p class="subtitle">LGBTQ brand creator 'relieved' after Target pulls his items off shelves due to
                    backlash - KSL.com</p>
                <a href="/business" class="stretched-link"></a>
            </article>
        </div>
        <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
                <div class="card-image has-text-centered">
                    <i class="fa fa-laptop"></i>
                </div>
                <p class="title">Top headlines from TechCrunch right now</p>
                <p class="subtitle">Want do the EUs new gender pay gap rules mean for your startup?</p>
                <div class="content">
                    <p>"Twitter has withdrawn from the European Unions Code of Practice on online disinformation, per
                        the blocs internal market commissioner, Thierry Breton.\r\nIn a tweet last night — which
                        confirmed earlie…"</p>
                    <a href="/techCrunch" class="stretched-link"></a>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <p class="title">All articles published by the Wall Street Journal in the last 6 months</p>
                    <p class="subtitle">The House That 'ROLLING STONE' Built...</p>
                    <div class="content">
                        <p>"The House That Rolling Stone BuiltAmong the many treasured possessions that Jann Wenner
                            has collected during his rollicking career is a framed cover of the magazine he co-founded,
                            Rolling Stone,..."</p>
                        <a href="/wallStreet" class="stretched-link"></a>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
                <div class="content">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-car"></i>
                    </div>
                    <p class="title">All articles about Tesla from the last month</p>
                    <p class="subtitle">Who Owns AI-Generated Content? Understanding Ownership, Copyrighting, and How
                        the Law interprets AI-generated Art</p>
                    <div class="content">
                        <p>description:"Who Owns AI-Generated Content? Understanding Ownership, Copyrighting, and How
                            the Law
                            interprets AI-generated ArtDisclaimer This article was written considering current United
                            States intellectual property laws as of May 2023. If youre interested in knowing…"</p>
                        <p>publishedAt": "2023-05-28T00:45:21Z"</p>
                        <p>"content": "Disclaimer This article was written considering current United States
                            intellectual property laws as of May 2023. If youre interested in knowing more about your
                            countrys IP laws and view on AI, I re…"</p>
                        <a href="/tesla" class="stretched-link"></a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
                <div class="card-image has-text-centered">
                    <i class="fa fa-btc"></i>
                </div>
                <p class="title">All articles about Bitcoin</p>
                <p class="subtitle">Venmo now lets you send crypto to other users for some reason</p>
                <div class="content">
                    <p>"Paypal-owned money transfer service Venmo dipped its toes into cryptocurrencies in 2021 after
                        opening up an in-app trading platform.\r\n That was just for individuals to buy or sell crypto.
                        Now, the co…"</p>
                    <a href="/bitcoin" class="stretched-link"></a>
                </div>
            </article>
        </div>
        <div class="tile is-parent is-8 is-shady">
            <article class="tile is-child notification is-white">
                <div class="card-image has-text-centered">
                    <i class="fa fa-balance-scale"></i>
                </div>
                <p class="title">Top headlines in the US</p>
                <p class="subtitle">Texas House of Representatives votes to impeach Attorney General Ken Paxton - CNN
                </p>
                <div class="content">
                    <p>"The Texas House of Representatives has voted to impeach Attorney General Ken Paxton, an
                        unprecedented move following a legislative probe that faulted the third-term Republican for a
                        yearslong pattern"</p>
                    <a href="/us" class="stretched-link"></a>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-8 is-shady">
            <article class="tile is-child notification is-white">
                <div class="card-image has-text-centered">
                    <i class="fa fa-university"></i>
                </div>
                <p class="title">Top headlines from BBC News</p>
                <p class="subtitle">New parliament: PM Modi set to inaugurate building amid Opposition boycott</p>
                <div class="content">
                    <p>"Prime Minister Narendra Modi is set to inaugurate India's new parliament building despite a
                        boycott of the ceremony by 19 opposition parties.\r\nThe opposition has criticised the
                        government for not ask…"</p>
                    <a href="/bbc" class="stretched-link"></a>
                </div>
            </article>
        </div>
        <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
                <div class="card-image has-text-centered">
                    <i class="fa fa-users"></i>
                </div>
                <p class="title">Top headlines about Trump</p>
                <p class="subtitle">Ken Paxton: Texas House votes to impeach state attorney general</p>
                <div class="content">
                    <p>"Texas' Republican-run House of Representatives has voted to impeach state Attorney General Ken
                        Paxton, a Republican, who is accused of bribery and abuse of public trust.\r\nMr Paxton, an ally
                        of former…"</p>
                    <a href="/trump" class="stretched-link"></a>
                </div>
            </article>
        </div>
        <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
                <div class="card-image has-text-centered">
                    <i class="fa fa-globe"></i>
                </div>
                <p class="title">All sources</p>
                <p class="subtitle">ABC News</p>
                <div class="content">
                    <p>"Your trusted source for breaking news, analysis, exclusive interviews, headlines, and videos at
                        ABCNews.com."</p>
                    <a href="/sources" class="stretched-link"></a>
                </div>
            </article>
        </div>
    </div>
</div>
</section>
</body>

</html>