<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>News Times</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <!-- web-fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
</head>

<body>
  <section class="hero is-info is-medium is-bold">
    <div class="hero-head" style="background-color: #232222;">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="../">
              <img src="/assets/img/logo.png" alt="Logo" width="200px">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span>Apple</span>
              <span>Business</span>
              <span>TechCrunch</span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <div class="tabs is-right" style="color: white;">
                <ul>
                  <li class=" is-active">
                  </li>
                  <li><a href="../">Home</a></li>
                  <li><a href="/search">Search</a></li>
                </ul>
                <%- include('partials/alerts') %>
                <% if (!currentUser) {%>
                <span class="navbar-item">
                  <a class="button is-black" href="/auth/signup" style="margin-right: 5px;">Signup</a>
                  <a class="button is-black" href="/auth/login">Login</a>
                </span>
                <% } else { %>
                <a class="button is-black" href="/auth/logout" style="margin-right: 5px;">Logout</a>
                <a class="button is-black" href="/profile">Profile</a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <%- body %>
  </section>

  <footer class="footer" style="background: #232222;">
    <div class="container">
      <div class="columns">
        <div class="column is-3 is-offset-2">
          <h2><strong>Menu</strong></h2>
          <ul>
            <li><a href="../">Home</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </div>
        <div class="column is-3">
          <h2><strong>Category</strong></h2>
          <ul>
            <li><a href="/apple">Apple</a></li>
            <li><a href="/business">Business</a></li>
            <li><a href="/techCrunch">TechCrunch</a></li>
            <li><a href="/wallStreet">Wall Street Journal</a></li>
            <li><a href="/tesla">Tesla</a></li>
            <li><a href="/bitcoin">Bitcoin</a></li>
            <li><a href="/trump">Trump</a></li>
          </ul>
        </div>
        <div class="column is-4">
          <h2><strong>More</strong></h2>
          <ul>
            <li><a href="/us">US News</a></li>
            <li><a href="/bbc">BBC News</a></li>
            <li><a href="/sources">Sources</a></li>
          </ul>
        </div>
      </div>
      <div class="content has-text-centered">
        <p>&copy; Copyright 2023- News Times . Design by: Kacy Phan </p>
        <div class="control level-item">
          <p>
            <a class="icon" href="https://github.com/kacyphan7">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="../server.js"></script>
</body>

</html>