<section class="section">
    <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-8-desktop">
                <h2 class="mb-5 has-text-weight-medium">Search result for <span class="text-primary"><%= item %></span>
                </h2>
                <div class="p-6 shadow rounded">
                    <div class="has-text-centered"><img class="img-fluid" src="/images/no-search-found.png">
                        <h3>No <%= search %> Found</h3>
                        <br aria-hidden="true" />
                        <a href="/<%= search.toLowerCase() %>/search" class="btn btn-sm btn-outline-primary ml-4">Search
                            <%= search %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>