</section>
<section class="section">
    <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-8-desktop">
                <h2 class="mb-5 has-text-weight-medium">Search result for <span
                        class="text-primary"><%= category %></span>
                </h2>
                <div class="p-6 shadow rounded">
                    <div class="has-text-centered">
                        <img class="img-fluid" src="/images/no-search-found.png">
                        <h3>No <%= category %> Found</h3>
                        <br aria-hidden="true" />
                        <a href="/<%= category.toLowerCase() %>/search"
                            class="btn btn-sm btn-outline-primary ml-4">Search
                            <%= category %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>