</section>
<section class="section">
    <div class="container">
        <div class="columns is-justify-content-center">
            <div class="column is-8-desktop">
                <h1 class="mb-5 has-text-weight-medium">SAVED ARTICLES
                </h1>
                <div class="p-6 shadow rounded">
                    <div class="has-text-centered">
                        <% if (savedArticles && savedArticles.length > 0) { %>
                        <ul>
                            <% savedArticles.forEach(article => { %>
                            <li>
                                <h3><%= article.title %></h3>
                                <p><%= article.description %></p>
                                <p><%= article.content %></p>
                                <p>Published at: <%= article.publishedAt %></p>
                            </li>
                            <% }); %>
                        </ul>
                        <% } else { %>
                        <p>No saved articles found.</p>
                        <% } %>

                        <a href="/profile">Back to Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>