</section>
<section class="section">
    <div class="container">
        <div class="columns is-desktop is-justify-content-center">
            <div class="column is-8-desktop">
                <div class="p-6 shadow rounded content">
                    <h2 class="section-title">Search US News</h2>
                    <form method="POST" action="/us">
                        <div class="columns is-multiline">
                            <div class="form-group column is-12">
                                <label for="author">Author</label>
                                <input type="text" class="input" id="author" name="author"
                                    placeholder="Steve Aschburner" required>
                            </div>
                            <div class="form-group column is-12">
                                <label for="title">Title</label>
                                <input type="text" class="input" id="title" name="title"
                                    placeholder="Commissioner Adam Silver addresses media..." required>
                            </div>
                            <div class="form-group column is-12">
                                <label for="publishedAt">Published At</label>
                                <input type="text" class="input" id="publishedAt" name="publishedAt"
                                    placeholder="2023-06-02" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>